{% extends "layout.html" %}
{% block title %}
    Feedback
{% endblock %}

{% block main %}
         <h1 id="myHeader">Here is what others have to say!!!!!</h1>
               {% for row in reviews %}
                <div class="events">
                    <h2>{{row["event_category"]}}</h2>
                    <h1>{{row["event_name"]}}</h1>
                    <h3>{{row["event_location"]}}</h3>
                    <h4>{{row["event_date"]}}</h4>
                    <p>{{row["review"]}}</p>
                 </div>
                 {% endfor%}
{% endblock %}